<div class="footer">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>copyright</h3>
          <p class="copyright"><a href="https://www.zeddini.com" target="_blank" rel="noopener noreferrer">Zeddini</a> © 2023</p>
        </div>
        <div class="col-md-6 item text">
          <h3>Code</h3>
          <span jhiTranslate="global.zeddini.mygithub">Le code source ZED MONOLITHE, se trouve sur le </span>
          <a href="https://github.com/walid-zeddini/zed-monolithe" target="_blank" rel="noopener noreferrer">GitHub</a>!
        </div>
      </div>
    </div>
  </footer>
</div>
