<div>
  <h2 id="page-heading" data-cy="CarnetCommandeHeading">
    <span jhiTranslate="zedMonolitheApp.carnetCommande.home.title">CarnetCommandes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="zedMonolitheApp.carnetCommande.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-carnet-commande"
        [routerLink]="['/carnet-commande/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="zedMonolitheApp.carnetCommande.home.createLabel"> Créer un nouveau Carnet Commande </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="carnetCommandes?.length === 0">
    <span jhiTranslate="zedMonolitheApp.carnetCommande.home.notFound">Aucun Carnet Commande trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="carnetCommandes && carnetCommandes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="qte">
            <div class="d-flex">
              <span jhiTranslate="zedMonolitheApp.carnetCommande.qte">Qte</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prixUnitaire">
            <div class="d-flex">
              <span jhiTranslate="zedMonolitheApp.carnetCommande.prixUnitaire">Prix Unitaire</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prixTotal">
            <div class="d-flex">
              <span jhiTranslate="zedMonolitheApp.carnetCommande.prixTotal">Prix Total</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="etat">
            <div class="d-flex">
              <span jhiTranslate="zedMonolitheApp.carnetCommande.etat">Etat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="produit.id">
            <div class="d-flex">
              <span jhiTranslate="zedMonolitheApp.carnetCommande.produit">Produit</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="commande.id">
            <div class="d-flex">
              <span jhiTranslate="zedMonolitheApp.carnetCommande.commande">Commande</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carnetCommande of carnetCommandes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/carnet-commande', carnetCommande.id, 'view']">{{ carnetCommande.id }}</a>
          </td>
          <td>{{ carnetCommande.qte }}</td>
          <td>{{ carnetCommande.prixUnitaire }}</td>
          <td>{{ carnetCommande.prixTotal }}</td>
          <td>{{ carnetCommande.etat }}</td>
          <td>
            <div *ngIf="carnetCommande.produit">
              <a [routerLink]="['/produit', carnetCommande.produit.id, 'view']">{{ carnetCommande.produit.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="carnetCommande.commande">
              <a [routerLink]="['/commande', carnetCommande.commande.id, 'view']">{{ carnetCommande.commande.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/carnet-commande', carnetCommande.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/carnet-commande', carnetCommande.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(carnetCommande)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="carnetCommandes && carnetCommandes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
